
main{ 
  text-align: justify;
}


body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background-color: #b8b7b76b;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

header h1 {
  font-size: 1.5rem;
  margin: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

header .logo img {
  height: 50px;
}

header .container {
  display: flex;
  align-items: center;
}

header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

header nav ul li {
  margin-left: 20px;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}

header nav ul li a:hover {
  color: #f4a261; /* Color de acento */
}

/* Línea vertical moderna */
.linea-vertical {
  width: 5px;
  height: 100vh;
  background: linear-gradient(to bottom, #000, #f9c74f, #f94144);
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

/* Estilos para el contenido principal */
main {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}



h3 {
  font-size: 1.25rem;
  color: #333;
}

p {
  line-height: 1.6;
  color: #0a0a0af1;
}

/* Estilo del footer */
footer {
  background: #b8b7b76b;
  padding: 20px;
  text-align: center;
}

footer p {
  margin: 10px 0;
}

footer a {
  color: #a10c07;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

/* Responsive */
@media (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: flex-start;
  }

  header .container {
      margin-top: 20px;
      width: 100%;
  }

  header nav ul {
      flex-direction: column;
  }

  header nav ul li {
      margin: 10px 0;
  }
}

/

/* Estilo general del footer */
footer {
  padding: 20px;
  text-align: center;
  position: relative;
  margin-top: 20px;
}

/* Ajustes para el contenedor de contacto */
#contacto img {
  max-width: 100px; /* Tamaño ajustable de la imagen */
  display: block;
  margin: 0 auto 10px auto; /* Centrar imagen y agregar margen inferior */
}

#contacto p {
  margin: 5px 0;
}

/* Contenedor del botón separado del footer */
.button-container {
  margin-top: 20px; /* Espacio entre el footer y el botón */
  text-align: center;
}

/* Estilos para el botón personalizado */
.custom-button {
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.5s;
  animation: colorChange 6.9s infinite; /* Animación de cambio de color */
}

/* Animación de cambio de color */
@keyframes colorChange {
  0% { background-color: red; }
  33% { background-color: green; }
  66% { background-color: rgb(11, 93, 121); }
  100% { background-color: red; }
}
